/*  Custom css styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 95%;
  background-color: #EFEFEF;  /* Gallery */
  background-image: -webkit-linear-gradient(bottom, #EFEFEF, #FFF);
  background-image: -moz-linear-gradient(bottom, #EFEFEF, #FFF);
  background-image: -ms-linear-gradient(bottom #EFEFEF, #FFF);
  background-image: -o-linear-gradient(bottom, #EFEFEF, #FFF);
  background-image: linear-gradient(to top, #EFEFEF, #FFF);
}

h1, h2, h3, a {
	font-family: 'Molengo', Georgia, Times, serif;
}

p {
	font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

/* Navbar styles
-------------------------------------------------- */
.custom_nav {
    margin-bottom: 80px;
}

.custom_nav .navbar {
    background-color: #35404f;  /* Cloud Burst */
    border-color: #35404f;  /* Cloud Burst */
    color: #A3D39C;  /* Chinook */
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #35404f;  /* Cloud Burst */
}

.navbar-default .navbar-brand {
    color: #A3D39C;  /* Chinook */
}

.navbar-default .navbar-nav>li>a {
    color: #A3D39C;  /* Chinook */
}


.navbar-default .navbar-brand:hover {
    color: #7ACCC8; /* Monte Carlo */
}

.navbar-default .navbar-nav>li>a:hover {
    color: #7ACCC8;  /* Monte Carlo */
}

.navbar-default .navbar-toggle {
    border-color: #A3D39C; /* Chinook */
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #35404f;  /* Cloud Burst */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #A3D39C; /* Chinook */
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(122,204,200, 0.3); /* Chinook */
}

.footer-list {
  list-style: none;
}

.footer-list > li{
  float: left;
}

.footer-list > li > a{
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #35404f;  /* Cloud Burst */
}

.footer-list > li > a:hover{
  color: #EFEFEF;  /* Gallery */
}

/* Custom page CSS
-------------------------------------------------- */

.container-footer {
  width: auto;
  max-width: 480px;
  padding: 0 15px;
}
.container-footer .text-muted {
  margin: 20px 0;
}

.image {
  background-image: url(../images/IMG_5055.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  background-color: #FFF;  /* Gallery */
  display: flex;
  align-items: center;
}


/* Custom page CSS
-------------------------------------------------- */

.home-column {
  /*padding-top: 20px;*/
  padding-bottom: 50px;
  /* background-color: white; */
  text-align: center;
}

.profile-pic {
  width: 132px;
  height: 132px;
  padding: 5px;
  border: 1px solid #35404f;  /* Cloud Burst */
  border-radius: 50%;
}

.home-column h1, h2, h3 {
  padding-bottom: 20px;
}

/* Animated Icons
-------------------------------------------------- */

#container {
    width: 152px;
    float: right;
    border: 1px #fff solid;
    height: 50px;
    overflow: hidden;
}

.social {
    text-align: center;
    transition: all 0.2s, transform 0.2s ease;
}

.social:hover {
    transform: translateY(-59%);
}

.social p {
    display: block;
    color: #fff;
    padding: 2px 0;
}

.social a {
    display: inline-block;
    width: 47.5px;
    background: url(img/fb.png);
    height: 50px;
    transition: all 0.2s ease;
}

.social a:hover {
    background: url(img/fb-over.png);
}
