<div class="skills hide-small">
  <div class="row box-row">
    <div class="col-md-4">
      <div class="small-box-1" ng-click="toggleClasses(1)"></div>
    </div>
    <div class="col-md-8">
      <div class="scale" ng-class="!toggleClass1 ? 'box-1' : 'big-box-1 big-box-size'">
        <h1 class="box-font">Client</h1>
        <ul>
          <li>Dojo</li>
          <li>ReactJS</li>
          <li>jQuery</li>
          <li>Angular</li>
          <li>ES6</li>
          <li>Jasmine</li>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row box-row">
    <div class="col-md-8">
        <div class="scale" ng-class="!toggleClass2 ? 'box-2' : 'big-box-2 big-box-size'">
          <h1 class="box-font">Server</h1>
          <ul>
            <li>Node JS</li>
            <li>Java (Java EE)</li>
            <li>PHP (Laravel)</li>
            <li>SQL</li>
            <li>DB2</li>
          </ul>
        </div>
    </div>
    <div class="col-md-4">
      <div class="small-box-1" ng-click="toggleClasses(2)"></div>
    </div>
  </div>
  <div class="row box-row">
    <div class="col-md-4">
      <div class="small-box-1" ng-click="toggleClasses(3)"></div>
    </div>
    <div class="col-md-8">
      <div class="scale" ng-class="!toggleClass3 ? 'box-3' : 'big-box-3 big-box-size'">
        <h1 class="box-font">Tech</h1>
        <ul>
          <li>Eclipse</li>
          <li>Atom.io</li>
          <li>WebSphere</li>
          <li>Git</li>
          <li>Gulp</li>
          <li>Grunt</li>
          <li>Webpack</li>
          <li>Selenium</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row box-row">
    <div class="col-md-8">
      <div class="scale" ng-class="!toggleClass4 ? 'box-4' : 'big-box-4 big-box-size'">
        <h1 class="box-font">OS</h1>
        <ul>
          <li>Mac OS X</li>
          <li>Linux Ubuntu</li>
          <li>Linux Redhat</li>
          <li>Windows 7</li>
          <li>Windows Server</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="small-box-1" ng-click="toggleClasses(4)"></div>
    </div>
  </div>
</div>
<div class="skills hide-big">
  <div class="row box-row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="small-screen-box">
        <ul>
          <li>Dojo</li>
          <li>ReactJS</li>
          <li>jQuery</li>
          <li>Angular</li>
          <li>ES6</li>
          <li>Jasmine</li>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="small-screen-box">
        <ul>
          <li>Node JS</li>
          <li>Java (Java EE)</li>
          <li>PHP (Laravel)</li>
          <li>SQL</li>
          <li>DB2</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row box-row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="small-screen-box">
        <ul>
          <li>Eclipse</li>
          <li>Atom.io</li>
          <li>WebSphere</li>
          <li>Git</li>
          <li>Gulp</li>
          <li>Grunt</li>
          <li>Webpack</li>
          <li>Selenium</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="small-screen-box">
        <ul>
          <li>Mac OS X</li>
          <li>Linux Ubuntu</li>
          <li>Linux Redhat</li>
          <li>Windows 7</li>
          <li>Windows Server</li>
        </ul>
      </div>
    </div>
  </div>
</div>
