<div class="skills">
  <div class="row">
    <div class="col-md-4">
      <div class="small-box-1" ng-click="changeClass1()"></div>
    </div>
    <div class="col-md-8">
      <div class="scale" ng-class="class1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="scale" ng-class="class2"></div>
    </div>
    <div class="col-md-4">
      <div class="small-box-2" ng-click="changeClass2()"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="small-box-3" ng-click="changeClass3()"></div>
    </div>
    <div class="col-md-8">
      <div class="scale" ng-class="class3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="scale" ng-class="class4"></div>
    </div>
    <div class="col-md-4">
      <div class="small-box-4" ng-click="changeClass4()"></div>
    </div>
  </div>
</div>
